.toggle.filters legend {
    cursor: pointer;
}

#playlist-name {
    width: 250px;
}

#playlist-id {
    font-size:12px; 
    width:50px
}

.toolbar h2 {
    width:700px;
}

#list_name {
    float:right; 
    display: none;
}

.select2-chosen {
    font-size: 12px;
}

.selectBig {
    width: 250px;
}

#drag-here-to-add-to-list {
    border: 2px #CCCCCC dashed;
    height: 45px;
    width: 439px;
    margin: 4px 9px;
    padding: 20px 5px 0px 26px;
    color: #CCCCCC;
    font-size: 20px;
}